In [13]:
import requests
import json
import pandas as pd

# el indicador id=600 es el precio de la energía
indicador='460'
cookies = {
}

headers = {
    "Accept": "application/json; application/vnd.esios-api-v1+json",
    "Content-Type": "application/json",
    "Host": "api.esios.ree.es",
    "Authorization": "Token token=3d899b2652dac76a27a2c6ff92b6720dcc7881d37bca12fb6bec5619c37a9eaf",
}

params = (
    ('start_date', '2017-01-01T00:00:00Z'),
    ('end_date', '2020-04-31T00:00:00Z'),
    ('time_trunc', 'hour'),
)

response = requests.get('https://api.esios.ree.es/indicators/'+indicador, headers=headers, params=params)

print(response)
dataset_diccionario=response.json()
print(type(dataset_diccionario))

#print(dataset_diccionario['indicator'])
#para acceder capturamos líneas con claves 'indicador''values' 
# en formato lista
dataset_lista=dataset_diccionario['indicator']['values']
print(type(dataset_lista))
# ejemplo de acceso a una línea 1 de la lista captura
# dataset_lista[1]
# dataset_lista[i] es un diccionario
# Obtengo un Dataframe

df = pd.DataFrame(dataset_lista) 
df

<Response [200]>
<class 'dict'>
<class 'list'>

         value                       datetime  ... geo_id   geo_name
0      23616.0  2017-01-01T01:00:00.000+01:00  ...   8741  Península
1      21893.0  2017-01-01T02:00:00.000+01:00  ...   8741  Península
2      20693.0  2017-01-01T03:00:00.000+01:00  ...   8741  Península
3      19599.0  2017-01-01T04:00:00.000+01:00  ...   8741  Península
4      19211.0  2017-01-01T05:00:00.000+01:00  ...   8741  Península
...        ...                            ...  ...    ...        ...
29180  24987.0  2020-04-30T22:00:00.000+02:00  ...   8741  Península
29181  23151.0  2020-04-30T23:00:00.000+02:00  ...   8741  Península
29182  21606.0  2020-05-01T00:00:00.000+02:00  ...   8741  Península
29183  20202.0  2020-05-01T01:00:00.000+02:00  ...   8741  Península
29184  19237.0  2020-05-01T02:00:00.000+02:00  ...   8741  Península

[29185 rows x 6 columns]